[submodule "envs/metaworld"]
	path = envs/metaworld
	url = https://github.com/rlworkgroup/metaworld.git
[submodule "hierarchical_rl"]
	path = hierarchical_rl
	url = https://github.com/mimeku/hierarchical_rl.git
[submodule "offline_rl"]
	path = offline_rl
	url = https://github.com/pilgrimygy/offline_rl.git
